/*
    position: -webkit-sticky;
    position: sticky;
    top: 0;
*/

:root {
    --white: #fff;
    --nearlyWhite: rgb(228, 228, 228);
    --nearlyWhite2: rgb(231, 218, 218);
    --greenLight: #cff4d2;
    --darkGray: #252525;
    --darkGray2: #363636;
    --lightGray: #4e4d4d;
    --nearlyBlack: #1d1c1c;
    --green: #7be495;
    --greenDark: #56c596;
    --greenBlue: #329d9c;
    --blue: #205072;
    --blueCorni: #247298;
    --nearlyBlue: #749aad;
    /*
    --test2:#357d98;
    --test1:#b982bd;
    */
    --background2: #275e72;
    --background1: #855e88;
}

h1 {
    margin-left: 7vw;
}

p {
    margin-left: 15px;
}

figcaption{
    font-size: small; 
    color: var(--white);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: -7vw;
}

td,
th {
    text-align: left;
    padding: 8px;
    border: 2px solid var(--white);
}

tr:nth-child(even) {
    background-color: var(--nearlyWhite);
}

tr:nth-child(odd) {
    background-color: var(--nearlyWhite2);
}

li {
    margin: 10px 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#root {
    position: absolute;
    width: 100%;
    min-height: 100%;
    /*background-image: linear-gradient(to bottom right, var(--lightGray), var(--darkGray2));*/
    background-image: linear-gradient(to right, var(--nearlyWhite), var(--white));
}

.BTNstartMenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 10px solid var(--blue);
    background-color: var(--blueCorni);
    position: absolute;
    outline: 0;
    background-size: 100px;
}

.BTNstartMenu:hover {
    cursor: pointer;
    border-radius: 40%;
}

.BTNmenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px;
    background-repeat: no-repeat;
}

.BTNmenu:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 6px var(--blue);
}

.navbar {
    margin-bottom: 30px;
    width: 95vw;
    float: right;
    height: -1vh;
    background-color: var(--blueCorni);
}

.navbarLink {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin: 20px 0 20px 4%;
    padding: 10px;
    width: 15vh;
    min-width: -1vh;
    border: solid 10px var(--blue);
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.navbarImage{
    float: right;
    width: 50px;
    margin: 20px 2% 20px 2%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

.navbarLink a:visited,
.navbarLink a:link {
    color: white;
    text-decoration: none;
}

.navbarLink a:active {
    text-shadow: -1px 0, 0 1px, 1px 0, 0 -1px var(--blue);
}

#content, #menuPopup{
    margin: 0 20px;
    padding: 5px 5px 5px 15px;
    border-radius: 15px;
    clear: both;
    min-height: 4vh;
    /*background-color: var(--greenLight);*/
    background-image: linear-gradient(to right, var(--nearlyBlue), var(--blueCorni));
    box-shadow: -5px 5px 10px 2px var(--blue);
}

#contentTitle {
    font-weight: bold;
}

#contentText {
    font-size: 20px;
}

#image {
    transition: all .5s;
}

.boxParent:hover #image:before,
.boxParent:focus #image:before {
    display: block;
}

#image:hover {
    transform: scale(1.2);
}

.banner {
    width: 100%;
}

.banner img {
    max-height: 200px;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    height: 60px;
    border-radius: 20px 20px 20px 20px;
}

.card {
    border-radius: 25px;
    margin-top: 130px;
    margin-left: 10px;
    width: 150px;
    min-height: 200px;
    background-color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.card img {
    border-radius: 25px;
    width: 100%;
}

.card p {
    color: black;
    font-size: 18px;
    margin: 5px;
    padding-top: 5px;
}

.cardList {
    float: left;
    margin: 20px 40px;
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.boxParent {
    height: 370px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.newsCard {
    border-radius: 15px;
    width: 25%;
    margin: 0 3%;
    margin-top: 15px;
    float: left;
    background-color: var(--nearlyWhite);
    height: 500px;
    position: relative;
}

.boxParent img {
    width: 100%;
    height: 370px;
}

.newsCard span {
    font-weight: bold;
    font-size: 26px;
}


/* Parte dei contacts */

#user_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.user_box {
    text-align: center;
}

.user_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 300px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title_user {
    color: black;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--blue);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.this_link {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    margin: 0 10px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

/* Parte del login */

#menuPopup{
    border: 2px solid var(--darkGray) ;
    position: absolute;
    width: 30%;
    margin: 0;
    margin-left: 35%;
    text-align: center;
    box-shadow: 0;
    top: -410px;
    padding: 0;
    z-index: 100;
    min-height: 400px;
    background-color: white;
    /*background-image: linear-gradient(to top, var(--nearlyWhite), var(--white));*/
    background-image:none;
    box-shadow:none;
    visibility: hidden;
}

.menuPopup_container h2{
    margin-left: 60px;
    margin-bottom: 80px;
    font-weight: bold;
    
}

.menuPopup_container .closed{
    cursor: pointer;
    font-size: 25px;
    margin-right: 25px;
    float: right;
}

.menuPopup_container .changeMenu{
    font-size: 15px;    
}

.menuPopup_container a:focus{
    color: var(--nearlyBlack);
}

.menuPopup_container{
    width: 100%;
    height: 100%;
}

.menuPopup_container form{
    width: 90%;
    margin-left: 5%;
    text-align: left;
}

.menuPopup_container form input{
    width: 100%;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 19px;
    color: var(--darkGray);
    outline: none;
}

.menuPopup_container form p{
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
    color: var(--blueCorni);
}

.menuPopup_container form input[type=submit]{
    background-color: var(--blueCorni);
    border-radius: 20px;
    color:white;
    font-size: 20px;
    width: 25%;
    min-width: 130px;
    margin-left: 37%;
    height: 30px;
    border:none;
}

.menuPopup_container form input[type="submit"]:hover,
.menuPopup_container form input[type="submit"]:focus{
    cursor: pointer;
    background-color: var(--blue);
}

#invalidInput{
    color:red;
    font-size: 15px;
    visibility: hidden;
}

@media (max-width: 1020px) {
    .BTNstartMenu{
        display: none;
    }
    .navbar{
        margin-right: 15px;
        border-radius: 20px;
    }
}

@media (max-width:970px){
    #user_container{
        display: block;
    }
}

@media (max-width: 850px){
    .navbarLink{
        min-width: 1vw;
    }
}